body {
  display: grid;
  grid-template-areas: 'header header'
                       'side main'
                       'footer footer';
  grid-template-rows: 10% 1fr 10%;
  grid-template-columns: 20% 1fr;
  grid-gap: 10px;
  color: #fff;
  height: 100vh;
}

header {
  grid-area: header;
  background-color: #123456;

}
 aside {
  grid-area: side;
  background-color: #121212;
 }

 main {
  grid-area: main;
  background-color: #787878;
  text-align: center;
 }

 footer {
  grid-area: footer;
  background-color: #565656;
 }